In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
item_code = '373220'
item_name = 'LG에너지솔루션'

In [4]:
url = 'https://finance.naver.com/item/sise.naver?code='+item_code

In [5]:
table = pd.read_html(url, encoding='cp949')

In [6]:
table

[                      0                                            1  \
 0  전일  393,000  393,000  고가  393,500393,500  (상한가  510,000510,000  )
 1    시가  391,500391,500         저가  388,000388,000  (하한가  275,500  )

                           2
 0       거래량  72,906  72,906
 1  거래대금  28,410  28,410  백만  ,
            0          1       2          3
 0        현재가     388500    매도호가     388500
 1       전일대비  하락  4,500    매수호가     388000
 2     등락률(%)     -1.15%     전일가     393000
 3        거래량      72906      시가     391500
 4   거래대금(백만)      28410      고가     393500
 5        액면가       500원      저가     388000
 6        NaN        NaN     NaN        NaN
 7        상한가     510000    전일상한     520000
 8        하한가     275500    전일하한     280000
 9        PER     123.80     EPS       3138
 10    52주 최고     598000  52주 최저     352000
 11      시가총액  909,090억원   상장주식수  234000000
 12     외국인현재    7,647천주     자본금  117,000백만,
        매도잔량      매도호가  Unnamed: 2      매수호가    매수잔량
 0       NaN       NaN         NaN       NaN     NaN
 1     131.0  390500.0         NaN       NaN     NaN
 2    1105.0  390000.0         NaN       NaN     NaN
 3     975.0  389500.0         NaN       NaN     NaN
 4    4955.0  389000.0         NaN       NaN     NaN
 5   21199.0  388500.0         NaN       NaN     NaN
 6       NaN       NaN         NaN       NaN     NaN
 7       NaN       NaN         NaN       NaN     NaN
 8       NaN       NaN         NaN       NaN     NaN
 9       NaN       NaN         NaN  388000.0  1450.0
 10      NaN       NaN         NaN  387500.0  3246.0
 11      NaN       NaN         NaN  387000.0  2413.0
 12      NaN       NaN         NaN  386500.0  2795.0
 13      NaN       NaN         NaN  386000.0  1894.0
 14      NaN       NaN         NaN       NaN     NaN,
        0     1      2
 0  32485  잔량합계  20546,
           0               1
 0      시가총액  90조  9,090  억원
 1    시가총액순위          코스피 2위
 2     상장주식수       234000000
 3  액면가l매매단위     500원  l  1주,
              0          1
 0  외국인한도주식수(A)  234000000
 1  외국인보유주식수(B)    7647111
 2  외국인소진율(B/A)      3.27%,
            0                    1
 0  투자의견l목표주가   4.00매수  l  555,550
 1   52주최고l최저  598,000  l  352,000,
                    0                   1
 0   PERlEPS(2022.03)  123.80배  l  3,138원
 1          추정PERlEPS   99.00배  l  3,935원
 2  PBRlBPS (2022.03)      ∞배  l  78,674원
 3              배당수익률                 NaN,
           0       1
 0  동일업종 PER  65.17배
 1  동일업종 등락률  -0.35%,
        매도잔량 호가(20분지연)     매수잔량
 0       NaN       NaN      NaN
 1    1346.0    393000      NaN
 2     448.0    392500      NaN
 3    1351.0    392000      NaN
 4     727.0    391500      NaN
 5     248.0    391000      NaN
 6     131.0    390500      NaN
 7    1105.0    390000      NaN
 8     975.0    389500      NaN
 9    4955.0    389000      NaN
 10  21199.0    388500      NaN
 11      NaN       NaN      NaN
 12      NaN    388000   1450.0
 13      NaN    387500   3246.0
 14      NaN    387000   2413.0
 15      NaN    386500   2795.0
 16      NaN    386000   1894.0
 17      NaN    385500   1981.0
 18      NaN    385000   3785.0
 19      NaN    384500   1442.0
 20      NaN    384000    888.0
 21      NaN    383500    652.0
 22      NaN       NaN      NaN
 23  32485.0      잔량합계  20546.0,
        업체명       거래량        전일비
 0     삼성전자   60900.0  하향  1,000
 1      카카오   72100.0    하향  700
 2   SK하이닉스  100500.0    하향  500
 3     LG화학  523000.0  상향  8,000
 4     셀트리온  183500.0    상향  500
 5      NaN       NaN        NaN
 6   한국조선해양   82200.0    하향  800
 7    삼성전자우   55800.0  하향  1,200
 8      현대차  187000.0  상향  1,500
 9    NAVER  243000.0  하향  3,500
 10     오리온  103500.0    하향  500,
        업체명      거래량        전일비
 0    에이스토리  33050.0  상향  2,700
 1    넥슨게임즈  20200.0    하향  150
 2     펄어비스  52500.0         보합
 3   드림시큐리티   3255.0     상향  25
 4   흥국에프엔비   2970.0     상향  25
 5      NaN      NaN        NaN
 6     아스플로  27500.0    하향  900
 7     화신정공   1630.0     상향  20
 8     비에이치  24500.0  하향  1,050
 9    진바이오텍   4920.0     상향  50
 10     에스엠  70400.0  상향  1,100]

In [7]:
len(table)

12

In [12]:
table[5]

             0          1
0  외국인한도주식수(A)  234000000
1  외국인보유주식수(B)    7647111
2  외국인소진율(B/A)      3.27%

In [15]:
# LG에너지솔루션 일별 시세

url = 'https://finance.naver.com/item/sise_day.naver?code=373220&page=2'

headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.5005.141 Whale/3.15.136.29 Safari/537.36'}

res = requests.get(url, headers=headers)
res.text[:1000]

'\n<html lang="ko">\n<head>\n<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">\n<title>네이버 금융</title>\n\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/newstock.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/common.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/layout.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/main.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/newstock2.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/newstock3.css">\n<link rel="stylesheet" type="text/css" href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/world.css">\n</head>\n<body>\n<script language="JavaS'

In [16]:
soup = BeautifulSoup(res.text, 'lxml')
soup

<html lang="ko">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<title>네이버 금융</title>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/newstock.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/common.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/main.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/newstock2.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/newstock3.css" rel="stylesheet" type="text/css"/>
<link href="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/css/world.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<script language="JavaScript">
function mouseOver(obj){
  obj.style.backgroundColor="#f6f4e5";
}
function mouseOut(obj){
  obj.style.backgroundColor="#ffffff";
}
</script>
<h4 class="tlline2"><strong><span class="red03">일별</span>시세</strong></h4>
<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.07.05</span></td>
<td class="num"><span class="tah p11">361,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				5,500
				</span>
</td>
<td class="num"><span class="tah p11">356,500</span></td>
<td class="num"><span class="tah p11">362,500</span></td>
<td class="num"><span class="tah p11">356,000</span></td>
<td class="num"><span class="tah p11">219,192</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.07.04</span></td>
<td class="num"><span class="tah p11">356,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				500
				</span>
</td>
<td class="num"><span class="tah p11">356,500</span></td>
<td class="num"><span class="tah p11">361,000</span></td>
<td class="num"><span class="tah p11">352,000</span></td>
<td class="num"><span class="tah p11">161,015</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.07.01</span></td>
<td class="num"><span class="tah p11">356,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				14,500
				</span>
</td>
<td class="num"><span class="tah p11">371,000</span></td>
<td class="num"><span class="tah p11">371,500</span></td>
<td class="num"><span class="tah p11">356,000</span></td>
<td class="num"><span class="tah p11">434,833</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.30</span></td>
<td class="num"><span class="tah p11">371,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				20,500
				</span>
</td>
<td class="num"><span class="tah p11">388,500</span></td>
<td class="num"><span class="tah p11">389,000</span></td>
<td class="num"><span class="tah p11">370,500</span></td>
<td class="num"><span class="tah p11">459,845</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.29</span></td>
<td class="num"><span class="tah p11">391,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				19,000
				</span>
</td>
<td class="num"><span class="tah p11">402,000</span></td>
<td class="num"><span class="tah p11">403,500</span></td>
<td class="num"><span class="tah p11">391,500</span></td>
<td class="num"><span class="tah p11">327,192</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.28</span></td>
<td class="num"><span class="tah p11">410,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,500
				</span>
</td>
<td class="num"><span class="tah p11">412,000</span></td>
<td class="num"><span class="tah p11">415,000</span></td>
<td class="num"><span class="tah p11">406,500</span></td>
<td class="num"><span class="tah p11">129,697</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.27</span></td>
<td class="num"><span class="tah p11">412,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				7,000
				</span>
</td>
<td class="num"><span class="tah p11">408,500</span></td>
<td class="num"><span class="tah p11">414,500</span></td>
<td class="num"><span class="tah p11">403,500</span></td>
<td class="num"><span class="tah p11">206,869</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.24</span></td>
<td class="num"><span class="tah p11">405,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				5,000
				</span>
</td>
<td class="num"><span class="tah p11">399,000</span></td>
<td class="num"><span class="tah p11">405,000</span></td>
<td class="num"><span class="tah p11">398,000</span></td>
<td class="num"><span class="tah p11">235,758</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.23</span></td>
<td class="num"><span class="tah p11">400,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">401,000</span></td>
<td class="num"><span class="tah p11">404,500</span></td>
<td class="num"><span class="tah p11">391,000</span></td>
<td class="num"><span class="tah p11">298,719</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.22</span></td>
<td class="num"><span class="tah p11">401,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				12,000
				</span>
</td>
<td class="num"><span class="tah p11">415,000</span></td>
<td class="num"><span class="tah p11">416,500</span></td>
<td class="num"><span class="tah p11">401,000</span></td>
<td class="num"><span class="tah p11">210,875</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>
<!--- 페이지 네비게이션 시작--->
<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="pgLL">
<a href="/item/sise_day.naver?code=373220&amp;page=1">
<img alt="" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarLL.gif" width="7"/>맨앞
				</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=1">1</a>
</td>
<td class="on">
<a href="/item/sise_day.naver?code=373220&amp;page=2">2</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=3">3</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=4">4</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=5">5</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=6">6</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=7">7</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=8">8</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=9">9</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/item/sise_day.naver?code=373220&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/item/sise_day.naver?code=373220&amp;page=12">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>
<!--- 페이지 네비게이션 끝--->
<script src="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/js/jindo.min.ns.1.5.3.euckr.js" type="text/javascript"></script>
<script src="https://ssl.pstatic.net/imgstock/static.pc/20220615142521/js/lcslog.js" type="text/javascript"></script>
<script type="text/javascript">
        ;(function(){
            var eventType = "onpageshow" in window ? "pageshow" : "load";
            jindo.$Fn(function(){
                lcs_do();
            }).attach(window, eventType);
        })();
	</script>
</body></html>

In [17]:
table = soup.select('table')
table

[<table cellspacing="0" class="type2">
 <tr>
 <th>날짜</th>
 <th>종가</th>
 <th>전일비</th>
 <th>시가</th>
 <th>고가</th>
 <th>저가</th>
 <th>거래량</th>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.07.05</span></td>
 <td class="num"><span class="tah p11">361,500</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				5,500
 				</span>
 </td>
 <td class="num"><span class="tah p11">356,500</span></td>
 <td class="num"><span class="tah p11">362,500</span></td>
 <td class="num"><span class="tah p11">356,000</span></td>
 <td class="num"><span class="tah p11">219,192</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.07.04</span></td>
 <td class="num"><span class="tah p11">356,000</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				500
 				</span>
 </td>
 <td class="num"><span class="tah p11">356,500</span></td>
 <td class="num"><span class="tah p11">361,000</span></td>
 <td class="num"><span class="tah p11">352,000</span></td>
 <td class="num"><span class="tah p11">161,015</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.07.01</span></td>
 <td class="num"><span class="tah p11">356,500</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				14,500
 				</span>
 </td>
 <td class="num"><span class="tah p11">371,000</span></td>
 <td class="num"><span class="tah p11">371,500</span></td>
 <td class="num"><span class="tah p11">356,000</span></td>
 <td class="num"><span class="tah p11">434,833</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.06.30</span></td>
 <td class="num"><span class="tah p11">371,000</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				20,500
 				</span>
 </td>
 <td class="num"><span class="tah p11">388,500</span></td>
 <td class="num"><span class="tah p11">389,000</span></td>
 <td class="num"><span class="tah p11">370,500</span></td>
 <td class="num"><span class="tah p11">459,845</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.06.29</span></td>
 <td class="num"><span class="tah p11">391,500</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				19,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">402,000</span></td>
 <td class="num"><span class="tah p11">403,500</span></td>
 <td class="num"><span class="tah p11">391,500</span></td>
 <td class="num"><span class="tah p11">327,192</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr>
 <td bgcolor="#e1e1e1" colspan="7" height="1"></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.06.28</span></td>
 <td class="num"><span class="tah p11">410,500</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,500
 				</span>
 </td>
 <td class="num"><span class="tah p11">412,000</span></td>
 <td class="num"><span class="tah p11">415,000</span></td>
 <td class="num"><span class="tah p11">406,500</span></td>
 <td class="num"><span class="tah p11">129,697</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.06.27</span></td>
 <td class="num"><span class="tah p11">412,000</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				7,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">408,500</span></td>
 <td class="num"><span class="tah p11">414,500</span></td>
 <td class="num"><span class="tah p11">403,500</span></td>
 <td class="num"><span class="tah p11">206,869</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.06.24</span></td>
 <td class="num"><span class="tah p11">405,000</span></td>
 <td class="num">
 <img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
 				5,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">399,000</span></td>
 <td class="num"><span class="tah p11">405,000</span></td>
 <td class="num"><span class="tah p11">398,000</span></td>
 <td class="num"><span class="tah p11">235,758</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.06.23</span></td>
 <td class="num"><span class="tah p11">400,000</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				1,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">401,000</span></td>
 <td class="num"><span class="tah p11">404,500</span></td>
 <td class="num"><span class="tah p11">391,000</span></td>
 <td class="num"><span class="tah p11">298,719</span></td>
 </tr>
 <tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
 <td align="center"><span class="tah p10 gray03">2022.06.22</span></td>
 <td class="num"><span class="tah p11">401,000</span></td>
 <td class="num">
 <img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
 				12,000
 				</span>
 </td>
 <td class="num"><span class="tah p11">415,000</span></td>
 <td class="num"><span class="tah p11">416,500</span></td>
 <td class="num"><span class="tah p11">401,000</span></td>
 <td class="num"><span class="tah p11">210,875</span></td>
 </tr>
 <tr>
 <td colspan="7" height="8"></td>
 </tr>
 </table>,
 <table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
 <caption>페이지 네비게이션</caption>
 <tr>
 <td class="pgLL">
 <a href="/item/sise_day.naver?code=373220&amp;page=1">
 <img alt="" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarLL.gif" width="7"/>맨앞
 				</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=373220&amp;page=1">1</a>
 </td>
 <td class="on">
 <a href="/item/sise_day.naver?code=373220&amp;page=2">2</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=373220&amp;page=3">3</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=373220&amp;page=4">4</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=373220&amp;page=5">5</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=373220&amp;page=6">6</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=373220&amp;page=7">7</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=373220&amp;page=8">8</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=373220&amp;page=9">9</a>
 </td>
 <td>
 <a href="/item/sise_day.naver?code=373220&amp;page=10">10</a>
 </td>
 <td class="pgR">
 <a href="/item/sise_day.naver?code=373220&amp;page=11">
 				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
 </a>
 </td>
 <td class="pgRR">
 <a href="/item/sise_day.naver?code=373220&amp;page=12">맨뒤
 				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
 </a>
 </td>
 </tr>
 </table>]

In [18]:
len(table)

2

In [19]:
table[0]

<table cellspacing="0" class="type2">
<tr>
<th>날짜</th>
<th>종가</th>
<th>전일비</th>
<th>시가</th>
<th>고가</th>
<th>저가</th>
<th>거래량</th>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.07.05</span></td>
<td class="num"><span class="tah p11">361,500</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				5,500
				</span>
</td>
<td class="num"><span class="tah p11">356,500</span></td>
<td class="num"><span class="tah p11">362,500</span></td>
<td class="num"><span class="tah p11">356,000</span></td>
<td class="num"><span class="tah p11">219,192</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.07.04</span></td>
<td class="num"><span class="tah p11">356,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				500
				</span>
</td>
<td class="num"><span class="tah p11">356,500</span></td>
<td class="num"><span class="tah p11">361,000</span></td>
<td class="num"><span class="tah p11">352,000</span></td>
<td class="num"><span class="tah p11">161,015</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.07.01</span></td>
<td class="num"><span class="tah p11">356,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				14,500
				</span>
</td>
<td class="num"><span class="tah p11">371,000</span></td>
<td class="num"><span class="tah p11">371,500</span></td>
<td class="num"><span class="tah p11">356,000</span></td>
<td class="num"><span class="tah p11">434,833</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.30</span></td>
<td class="num"><span class="tah p11">371,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				20,500
				</span>
</td>
<td class="num"><span class="tah p11">388,500</span></td>
<td class="num"><span class="tah p11">389,000</span></td>
<td class="num"><span class="tah p11">370,500</span></td>
<td class="num"><span class="tah p11">459,845</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.29</span></td>
<td class="num"><span class="tah p11">391,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				19,000
				</span>
</td>
<td class="num"><span class="tah p11">402,000</span></td>
<td class="num"><span class="tah p11">403,500</span></td>
<td class="num"><span class="tah p11">391,500</span></td>
<td class="num"><span class="tah p11">327,192</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr>
<td bgcolor="#e1e1e1" colspan="7" height="1"></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.28</span></td>
<td class="num"><span class="tah p11">410,500</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,500
				</span>
</td>
<td class="num"><span class="tah p11">412,000</span></td>
<td class="num"><span class="tah p11">415,000</span></td>
<td class="num"><span class="tah p11">406,500</span></td>
<td class="num"><span class="tah p11">129,697</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.27</span></td>
<td class="num"><span class="tah p11">412,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				7,000
				</span>
</td>
<td class="num"><span class="tah p11">408,500</span></td>
<td class="num"><span class="tah p11">414,500</span></td>
<td class="num"><span class="tah p11">403,500</span></td>
<td class="num"><span class="tah p11">206,869</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.24</span></td>
<td class="num"><span class="tah p11">405,000</span></td>
<td class="num">
<img alt="상승" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_up.gif" style="margin-right:4px;" width="7"/><span class="tah p11 red02">
				5,000
				</span>
</td>
<td class="num"><span class="tah p11">399,000</span></td>
<td class="num"><span class="tah p11">405,000</span></td>
<td class="num"><span class="tah p11">398,000</span></td>
<td class="num"><span class="tah p11">235,758</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.23</span></td>
<td class="num"><span class="tah p11">400,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				1,000
				</span>
</td>
<td class="num"><span class="tah p11">401,000</span></td>
<td class="num"><span class="tah p11">404,500</span></td>
<td class="num"><span class="tah p11">391,000</span></td>
<td class="num"><span class="tah p11">298,719</span></td>
</tr>
<tr onmouseout="mouseOut(this)" onmouseover="mouseOver(this)">
<td align="center"><span class="tah p10 gray03">2022.06.22</span></td>
<td class="num"><span class="tah p11">401,000</span></td>
<td class="num">
<img alt="하락" height="6" src="https://ssl.pstatic.net/imgstock/images/images4/ico_down.gif" style="margin-right:4px;" width="7"/><span class="tah p11 nv01">
				12,000
				</span>
</td>
<td class="num"><span class="tah p11">415,000</span></td>
<td class="num"><span class="tah p11">416,500</span></td>
<td class="num"><span class="tah p11">401,000</span></td>
<td class="num"><span class="tah p11">210,875</span></td>
</tr>
<tr>
<td colspan="7" height="8"></td>
</tr>
</table>

In [20]:
table[1]

<table align="center" class="Nnavi" summary="페이지 네비게이션 리스트">
<caption>페이지 네비게이션</caption>
<tr>
<td class="pgLL">
<a href="/item/sise_day.naver?code=373220&amp;page=1">
<img alt="" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarLL.gif" width="7"/>맨앞
				</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=1">1</a>
</td>
<td class="on">
<a href="/item/sise_day.naver?code=373220&amp;page=2">2</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=3">3</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=4">4</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=5">5</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=6">6</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=7">7</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=8">8</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=9">9</a>
</td>
<td>
<a href="/item/sise_day.naver?code=373220&amp;page=10">10</a>
</td>
<td class="pgR">
<a href="/item/sise_day.naver?code=373220&amp;page=11">
				다음<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarR.gif" width="3"/>
</a>
</td>
<td class="pgRR">
<a href="/item/sise_day.naver?code=373220&amp;page=12">맨뒤
				<img alt="" border="0" height="5" src="https://ssl.pstatic.net/static/n/cmn/bu_pgarRR.gif" width="8"/>
</a>
</td>
</tr>
</table>

In [22]:
temp = pd.read_html(str(table))[0]
temp.dropna()

            날짜        종가      전일비        시가        고가        저가       거래량
1   2022.07.05  361500.0   5500.0  356500.0  362500.0  356000.0  219192.0
2   2022.07.04  356000.0    500.0  356500.0  361000.0  352000.0  161015.0
3   2022.07.01  356500.0  14500.0  371000.0  371500.0  356000.0  434833.0
4   2022.06.30  371000.0  20500.0  388500.0  389000.0  370500.0  459845.0
5   2022.06.29  391500.0  19000.0  402000.0  403500.0  391500.0  327192.0
9   2022.06.28  410500.0   1500.0  412000.0  415000.0  406500.0  129697.0
10  2022.06.27  412000.0   7000.0  408500.0  414500.0  403500.0  206869.0
11  2022.06.24  405000.0   5000.0  399000.0  405000.0  398000.0  235758.0
12  2022.06.23  400000.0   1000.0  401000.0  404500.0  391000.0  298719.0
13  2022.06.22  401000.0  12000.0  415000.0  416500.0  401000.0  210875.0

In [ ]:
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/102.0.5005.141 Whale/3.15.136.29 Safari/537.36'}

In [24]:
def get_day_list(item_code, page_no):
    '''
    일자별 시세 페이지별 수집
    '''
    url = f'https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}'

    res = requests.get(url, headers=headers)
    
    soup = BeautifulSoup(res.text, 'lxml')

    table = soup.select('table')

    table = pd.read_html(str(table))[0].dropna()
    
    return table

In [25]:
# 함수 테스트
item_code = '373220'
item_name = 'LG에너지솔루션'
table = get_day_list(item_code, 3)
table

            날짜        종가      전일비        시가        고가        저가        거래량
1   2022.06.21  413000.0   1500.0  414500.0  416500.0  406000.0   204026.0
2   2022.06.20  411500.0  14000.0  426500.0  427000.0  408500.0   285056.0
3   2022.06.17  425500.0   1500.0  419500.0  430000.0  417000.0  1211937.0
4   2022.06.16  427000.0   7000.0  424500.0  439500.0  424500.0   365836.0
5   2022.06.15  420000.0   6500.0  426000.0  427500.0  417000.0   275832.0
9   2022.06.14  426500.0  11500.0  411000.0  432500.0  410500.0   417106.0
10  2022.06.13  415000.0  10000.0  414000.0  420500.0  413500.0   267003.0
11  2022.06.10  425000.0   2500.0  418000.0  426000.0  412500.0   285077.0
12  2022.06.09  422500.0   3000.0  426000.0  426000.0  419000.0   208712.0
13  2022.06.08  425500.0   6500.0  432500.0  434500.0  422500.0   215828.0

In [27]:
import time

page_no = 1

item_list = []

while page_no < 13:
    table = get_day_list(item_code, page_no)
    item_list.append(table)
    time.sleep(0.3)
    
    page_no += 1

In [28]:
item_list

[            날짜        종가      전일비        시가        고가        저가       거래량
 1   2022.07.19  387500.0   5500.0  391500.0  393500.0  387500.0   82017.0
 2   2022.07.18  393000.0   7000.0  400000.0  400500.0  387000.0  233929.0
 3   2022.07.15  400000.0    500.0  401500.0  402000.0  394000.0  146816.0
 4   2022.07.14  399500.0    500.0  400000.0  404000.0  399000.0  197883.0
 5   2022.07.13  400000.0   1000.0  398500.0  404000.0  392000.0  223258.0
 9   2022.07.12  401000.0   6000.0  393000.0  403000.0  387500.0  324262.0
 10  2022.07.11  395000.0   7000.0  389000.0  402000.0  380500.0  345052.0
 11  2022.07.08  388000.0  14500.0  375000.0  392500.0  375000.0  397140.0
 12  2022.07.07  373500.0   3000.0  374500.0  375000.0  367500.0  223247.0
 13  2022.07.06  370500.0   9000.0  367500.0  374500.0  364000.0  393886.0,
             날짜        종가      전일비        시가        고가        저가       거래량
 1   2022.07.05  361500.0   5500.0  356500.0  362500.0  356000.0  219192.0
 2   2022.07.04  356000.0    500.0  356500.0  361000.0  352000.0  161015.0
 3   2022.07.01  356500.0  14500.0  371000.0  371500.0  356000.0  434833.0
 4   2022.06.30  371000.0  20500.0  388500.0  389000.0  370500.0  459845.0
 5   2022.06.29  391500.0  19000.0  402000.0  403500.0  391500.0  327192.0
 9   2022.06.28  410500.0   1500.0  412000.0  415000.0  406500.0  129697.0
 10  2022.06.27  412000.0   7000.0  408500.0  414500.0  403500.0  206869.0
 11  2022.06.24  405000.0   5000.0  399000.0  405000.0  398000.0  235758.0
 12  2022.06.23  400000.0   1000.0  401000.0  404500.0  391000.0  298719.0
 13  2022.06.22  401000.0  12000.0  415000.0  416500.0  401000.0  210875.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2022.06.21  413000.0   1500.0  414500.0  416500.0  406000.0   204026.0
 2   2022.06.20  411500.0  14000.0  426500.0  427000.0  408500.0   285056.0
 3   2022.06.17  425500.0   1500.0  419500.0  430000.0  417000.0  1211937.0
 4   2022.06.16  427000.0   7000.0  424500.0  439500.0  424500.0   365836.0
 5   2022.06.15  420000.0   6500.0  426000.0  427500.0  417000.0   275832.0
 9   2022.06.14  426500.0  11500.0  411000.0  432500.0  410500.0   417106.0
 10  2022.06.13  415000.0  10000.0  414000.0  420500.0  413500.0   267003.0
 11  2022.06.10  425000.0   2500.0  418000.0  426000.0  412500.0   285077.0
 12  2022.06.09  422500.0   3000.0  426000.0  426000.0  419000.0   208712.0
 13  2022.06.08  425500.0   6500.0  432500.0  434500.0  422500.0   215828.0,
             날짜        종가      전일비        시가        고가        저가       거래량
 1   2022.06.07  432000.0   5500.0  436500.0  439500.0  432000.0  180249.0
 2   2022.06.03  437500.0   3000.0  443500.0  444000.0  437500.0  154981.0
 3   2022.06.02  440500.0   3500.0  440500.0  442000.0  438000.0  153596.0
 4   2022.05.31  444000.0   4500.0  441500.0  444000.0  436000.0  345830.0
 5   2022.05.30  439500.0   9000.0  434500.0  440000.0  432000.0  229834.0
 9   2022.05.27  430500.0      0.0  434500.0  437000.0  427500.0  214801.0
 10  2022.05.26  430500.0   4000.0  426500.0  432500.0  424500.0  162583.0
 11  2022.05.25  426500.0  12000.0  439000.0  439000.0  422000.0  365195.0
 12  2022.05.24  438500.0    500.0  438500.0  444000.0  436500.0  350284.0
 13  2022.05.23  438000.0   4000.0  438500.0  444000.0  432500.0  361437.0,
             날짜        종가      전일비        시가        고가        저가       거래량
 1   2022.05.20  434000.0  18500.0  421000.0  439000.0  418000.0  881979.0
 2   2022.05.19  415500.0   5500.0  398500.0  417000.0  398500.0  320709.0
 3   2022.05.18  410000.0   1500.0  410000.0  413000.0  407500.0  233063.0
 4   2022.05.17  408500.0   8000.0  400500.0  411000.0  399000.0  230327.0
 5   2022.05.16  400500.0      0.0  407000.0  407500.0  397000.0  200731.0
 9   2022.05.13  400500.0  12500.0  390500.0  401500.0  390500.0  228636.0
 10  2022.05.12  388000.0   3500.0  390000.0  395500.0  386000.0  251570.0
 11  2022.05.11  391500.0   2000.0  394000.0  398000.0  391500.0  239355.0
 12  2022.05.10  393500.0    500.0  387500.0  398500.0  382000.0  407928.0
 13  2022.05.09  394000.0   7500.0  397000.0  400000.0  390000.0  289113.0,
             날짜        종가     전일비        시가        고가        저가        거래량
 1   2022.05.06  401500.0     0.0  395000.0  401500.0  390000.0   350875.0
 2   2022.05.04  401500.0  6000.0  409500.0  410500.0  399500.0   364195.0
 3   2022.05.03  407500.0  1000.0  409500.0  415000.0  406500.0   254850.0
 4   2022.05.02  408500.0  8500.0  412500.0  414500.0  407000.0   365546.0
 5   2022.04.29  417000.0   500.0  418000.0  426000.0  414000.0   332582.0
 9   2022.04.28  417500.0   500.0  420500.0  421000.0  412500.0   358325.0
 10  2022.04.27  418000.0  5500.0  399500.0  427000.0  397000.0  1478354.0
 11  2022.04.26  423500.0  9500.0  432000.0  432000.0  414500.0   520529.0
 12  2022.04.25  433000.0  3500.0  430000.0  436000.0  428500.0   254452.0
 13  2022.04.22  436500.0   500.0  434000.0  437500.0  428500.0   266806.0,
             날짜        종가      전일비        시가        고가        저가       거래량
 1   2022.04.21  437000.0    500.0  437500.0  440000.0  434500.0  234128.0
 2   2022.04.20  436500.0   1000.0  437500.0  438000.0  432000.0  202657.0
 3   2022.04.19  435500.0   2500.0  438000.0  441500.0  434000.0  124432.0
 4   2022.04.18  433000.0   2000.0  434000.0  439500.0  432500.0  115652.0
 5   2022.04.15  435000.0   6000.0  435500.0  445000.0  431500.0  307347.0
 9   2022.04.14  441000.0  10000.0  434000.0  441000.0  427500.0  321259.0
 10  2022.04.13  431000.0  20000.0  414000.0  431500.0  404000.0  386194.0
 11  2022.04.12  411000.0  14000.0  417000.0  421500.0  410000.0  382240.0
 12  2022.04.11  425000.0  14500.0  435000.0  435500.0  423500.0  289205.0
 13  2022.04.08  439500.0   3000.0  449000.0  449000.0  437500.0  395489.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2022.04.07  436500.0   8000.0  438000.0  442000.0  431000.0   316409.0
 2   2022.04.06  444500.0   4500.0  436000.0  448500.0  436000.0   415524.0
 3   2022.04.05  449000.0  10500.0  442500.0  450000.0  437000.0   491410.0
 4   2022.04.04  438500.0  10500.0  422000.0  440500.0  417500.0   362727.0
 5   2022.04.01  428000.0  14000.0  438500.0  439500.0  425000.0   456080.0
 9   2022.03.31  442000.0   1500.0  437000.0  444000.0  435000.0   272318.0
 10  2022.03.30  440500.0    500.0  444500.0  445000.0  427000.0   440195.0
 11  2022.03.29  441000.0   4500.0  443000.0  448500.0  440500.0   375894.0
 12  2022.03.28  436500.0   2500.0  439000.0  443000.0  430000.0   481311.0
 13  2022.03.25  439000.0  31000.0  418500.0  444000.0  417500.0  1528600.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2022.03.24  408000.0   1000.0  405000.0  410000.0  398000.0   320746.0
 2   2022.03.23  407000.0   9500.0  403000.0  407500.0  398000.0   523438.0
 3   2022.03.22  397500.0  11500.0  388500.0  399000.0  388000.0   413972.0
 4   2022.03.21  386000.0   4000.0  385000.0  397500.0  384000.0   655247.0
 5   2022.03.18  382000.0   6000.0  377500.0  384000.0  370500.0   643915.0
 9   2022.03.17  376000.0  12500.0  374000.0  381500.0  373000.0   816118.0
 10  2022.03.16  363500.0   4000.0  367000.0  367500.0  360000.0   625328.0
 11  2022.03.15  359500.0   4000.0  363000.0  370000.0  355000.0  1064506.0
 12  2022.03.14  363500.0  27500.0  385000.0  385500.0  361500.0  1999479.0
 13  2022.03.11  391000.0  26500.0  411500.0  412000.0  390500.0  1811373.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2022.03.10  417500.0   7000.0  421000.0  430500.0  417500.0  1076446.0
 2   2022.03.08  410500.0   3500.0  406000.0  417000.0  402500.0   393413.0
 3   2022.03.07  414000.0  14500.0  420500.0  421000.0  412000.0   370588.0
 4   2022.03.04  428500.0   8500.0  433500.0  436500.0  427000.0   310930.0
 5   2022.03.03  437000.0   3000.0  439500.0  441000.0  430000.0   460544.0
 9   2022.03.02  434000.0  22000.0  411000.0  434500.0  408500.0   895460.0
 10  2022.02.28  412000.0   8000.0  404500.0  422000.0  404000.0   970088.0
 11  2022.02.25  420000.0   3500.0  425000.0  430000.0  418500.0   465140.0
 12  2022.02.24  416500.0  25500.0  435000.0  438000.0  416000.0   883314.0
 13  2022.02.23  442000.0   2000.0  443500.0  446000.0  438000.0   381560.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2022.02.22  440000.0  13000.0  444500.0  448000.0  440000.0   557179.0
 2   2022.02.21  453000.0   1500.0  450000.0  453000.0  447500.0   327509.0
 3   2022.02.18  454500.0      0.0  448500.0  454500.0  448000.0   418728.0
 4   2022.02.17  454500.0   1000.0  454500.0  460000.0  447000.0   711183.0
 5   2022.02.16  455500.0   4000.0  464000.0  465000.0  449500.0   961669.0
 9   2022.02.15  451500.0  11500.0  460000.0  468000.0  450000.0   825406.0
 10  2022.02.14  463000.0  19000.0  473000.0  482000.0  459500.0  3285402.0
 11  2022.02.11  482000.0   7500.0  463500.0  484000.0  457000.0  1411055.0
 12  2022.02.10  474500.0  36500.0  507000.0  507000.0  471500.0  2306815.0
 13  2022.02.09  511000.0  31000.0  550000.0  557000.0  505000.0  2070704.0,
            날짜        종가      전일비        시가        고가        저가         거래량
 1  2022.02.08  542000.0   6000.0  554000.0  577000.0  524000.0   2583335.0
 2  2022.02.07  548000.0  44000.0  520000.0  548000.0  511000.0   1911176.0
 3  2022.02.04  504000.0  27000.0  476500.0  505000.0  476000.0   2088996.0
 4  2022.02.03  477000.0  27000.0  458000.0  495500.0  441000.0   2918435.0
 5  2022.01.28  450000.0  55000.0  476000.0  483000.0  445000.0   4559773.0
 9  2022.01.27  505000.0  92000.0  597000.0  598000.0  450000.0  15946992.0]

In [29]:
df = pd.concat(item_list)

In [30]:
df.head()

           날짜        종가     전일비        시가        고가        저가       거래량
1  2022.07.19  387500.0  5500.0  391500.0  393500.0  387500.0   82017.0
2  2022.07.18  393000.0  7000.0  400000.0  400500.0  387000.0  233929.0
3  2022.07.15  400000.0   500.0  401500.0  402000.0  394000.0  146816.0
4  2022.07.14  399500.0   500.0  400000.0  404000.0  399000.0  197883.0
5  2022.07.13  400000.0  1000.0  398500.0  404000.0  392000.0  223258.0

In [31]:
# 종목코드, 종목명 컬럼 생성

df['종목코드'] = item_code
df['종목명'] = item_name

In [32]:
df.head(1)

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2022.07.19,387500.0,5500.0,391500.0,393500.0,387500.0,82017.0,373220,LG에너지솔루션

In [33]:
# 컬럼 순서 변경

cols = ['종목코드','종목명','날짜','종가','전일비','시가','고가','저가','거래량']
df = df[cols]

In [34]:
df.head()

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,373220,LG에너지솔루션,2022.07.19,387500.0,5500.0,391500.0,393500.0,387500.0,82017.0
2,373220,LG에너지솔루션,2022.07.18,393000.0,7000.0,400000.0,400500.0,387000.0,233929.0
3,373220,LG에너지솔루션,2022.07.15,400000.0,500.0,401500.0,402000.0,394000.0,146816.0
4,373220,LG에너지솔루션,2022.07.14,399500.0,500.0,400000.0,404000.0,399000.0,197883.0
5,373220,LG에너지솔루션,2022.07.13,400000.0,1000.0,398500.0,404000.0,392000.0,223258.0

In [35]:
df.describe()

,종가,전일비,시가,고가,저가,거래량
count,116.000000,116.000000,116.000000,116.000000,116.000000,1.160000e+02
mean,422362.068966,9366.379310,423525.862069,430392.241379,414875.000000,7.344969e+05
std,33678.311057,12246.269664,37059.402658,38547.700886,30513.494876,1.588754e+06
min,356000.000000,0.000000,356500.000000,361000.000000,352000.000000,8.201700e+04
25%,400875.000000,2375.000000,400375.000000,404875.000000,396250.000000,2.384558e+05
50%,423000.000000,6000.000000,420750.000000,430250.000000,415250.000000,3.620820e+05
75%,438500.000000,11625.000000,438500.000000,443250.000000,432500.000000,5.318732e+05
max,548000.000000,92000.000000,597000.000000,598000.000000,524000.000000,1.594699e+07

In [49]:
# df --> csv 저장 (LG에너지솔루션_373220_2022.07.19.csv)

date = df.iloc[0,2]
date

'2022.07.19'

In [50]:
file_name = f'{item_name}_{item_code}_{date}.csv'

In [51]:
df.to_csv(file_name, index=False, encoding='utf-8')

In [52]:
# 전체 함수로 작성

def get_item_list(item_code, item_name):    
    page_no = 1
    
    item_list = []
    
    while page_no < 13:
        table = get_day_list(item_code, page_no)
        item_list.append(table)
        time.sleep(0.3)
        
        page_no += 1
    
    df = pd.concat(item_list)
    
    df['종목코드'] = item_code
    df['종목명'] = item_name
    
    cols = ['종목코드','종목명','날짜','종가','전일비','시가','고가','저가','거래량']
    df = df[cols]
    
    return df

In [54]:
item_code = '035720'
item_name = '카카오'

kakao_df = get_item_list(item_code, item_name)
kakao_df

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,035720,카카오,2022.07.19,71800.0,1000.0,72000.0,72600.0,71600.0,525616.0
2,035720,카카오,2022.07.18,72800.0,2700.0,71100.0,73200.0,70600.0,1690739.0
3,035720,카카오,2022.07.15,70100.0,2000.0,72100.0,72200.0,69400.0,1605289.0
4,035720,카카오,2022.07.14,72100.0,200.0,71000.0,73400.0,70400.0,1597400.0
5,035720,카카오,2022.07.13,71900.0,1600.0,70100.0,72200.0,70100.0,1156844.0
...,...,...,...,...,...,...,...,...,...
9,035720,카카오,2022.01.27,82600.0,4300.0,87000.0,87500.0,82600.0,3793749.0
10,035720,카카오,2022.01.26,86900.0,700.0,87300.0,88600.0,86600.0,2204197.0
11,035720,카카오,2022.01.25,87600.0,2400.0,90300.0,90700.0,87500.0,2844579.0
12,035720,카카오,2022.01.24,90000.0,1800.0,90900.0,92100.0,89700.0,2021697.0
13,035720,카카오,2022.01.21,91800.0,500.0,91100.0,94100.0,90600.0,2954607.0